.e-btn  {
  background: $c-pink-gradient;
  font-size: 1em;
  margin-top: 1em;
  color: $c-white;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1.5em;
  padding: 1em 3em;
  border: none;
  max-width: 361px;
 }