.c-btn  {
  background: $c-pink-gradient;
  font-size: 1em;
  color: $c-white;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1.5em;
  padding: 1em 3em;
  border: none;
  max-width: 361px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: inline-block;
}