.c-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 4em;

  &__communication {
    &-list {
      display: flex;
      margin-top: 1rem;
    }

    &-item {
      list-style-type: none;

      &-link {
        padding: 1rem;
      }

      svg {
        height: 23px;
        width: 23px;
      }
    }
  }

  &-search {
    display: flex;
    position: relative;
    margin: 0 20px;
    margin-top: 2em;
    margin-bottom: 2em;

    &-input {
      position: relative;
      width: 16rem;
      line-height: 1.18em;
      color: $c-black;
      border-radius: .3em;
      border: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transition: .3s;
      font-size: 1em;
      background-color: $c-gray;
      padding: 1em 0 1em 2em;
    }

    &-btn {
      background: $c-btnSearch;
      border-radius: 0 5px 5px 0;
      border: none;
      color: $c-white;
      cursor: pointer;
      transition: 0.3s;
      padding-right: 2em;
      padding-left: 2em;
    }
  }

  &-text {
    line-height: 1.375em;
    color: $c-text-grey;
    max-width: 23em;
    margin-bottom: 1.5em;
  }

  &__nav {
    &-list {
      display: flex;
      margin-top: .8rem;
    }

    &-item {
      list-style-type: none;
      color: $c-black;
      font-weight: 600;
      text-transform: uppercase;

      &-link {
        padding: 1.2em;
        margin: .8em;
      }
    }
  }

  &__rules {
    &-list {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &-item {
      list-style-type: none;

      &-link {
        font-size: 15px;
        padding: 1em;
      }
    }
  }

  @include media-breakpoint-up(xs) {

    padding: 0 1.25rem;

    &-logo {
      &__img {
        height: 1.8rem;
      }
    }

    &__communication {
      &-item {
        &-link {
          padding: .5rem;
        }
        svg {
          height: 15px;
          width: 15px;
        }
      }
    }

    &-search {
      margin: 1.5em 0 1.5em;

      &-input {
        width: 13rem;
      }

      &-btn {
        padding-left: 1em;
        padding-right: 1em;
      }
    }

    &__nav {
      &-item {
        &-link {
          font-size: .75em;
          margin: 0;
        }
      }
    }

    &__rules {
      &-list {
        flex-direction: column;
      }

      &-item {
        padding: .4em 0;

        &-link {
          font-size: .75em;
        }
      }
    }
  }
}

