.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 8rem;
  padding: 0 1.25rem;

  .el-social--footer {
    svg {
      color: $c-black;
    }
  }

  &__logo {
    &-img {
      height: 1.8rem;
      transition: 0.3s;

      &:hover,&:focus {
        opacity: 0.5;
      }
    }
  }

  &__search {
    display: flex;
    position: relative;
    margin: 1.5em 0 1.5em;

    &-input {
      position: relative;
      width: 13rem;
      line-height: 1.18;
      color: $c-black;
      border-radius: 0.3em;
      border: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transition: 0.3s;
      font-size: 1em;
      background-color: $c-gray;
      padding: 1em 0 1em 2em;
    }

    &-btn {
      background: $c-btnSearch;
      border-radius: 0 5px 5px 0;
      border: none;
      color: $c-white;
      cursor: pointer;
      transition: 0.3s;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  &__text {
    line-height: 1.375;
    color: $c-text-grey;
    max-width: 23em;
    margin-bottom: 1.5em;
  }

  &__nav {
    &-list {
      display: flex;
      margin-top: 0.8rem;
      flex-wrap: wrap;
    }

    &-item {
      list-style-type: none;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0.2em;
    }

    &-link {
      padding: 1.2em;
      font-size: 0.75em;
      margin: 0;
      transition: 0.3s;
      color: $c-black;
      text-decoration: none;


      &:hover,&:focus {
        color: $c-brand-focus;
      }
    }
  }

  &__rules {
    &-list {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 2rem;
      flex-wrap: wrap;
    }

    &-item {
      list-style-type: none;
      padding: 0.4em 0;
    }

    &-link {
      font-size: 0.75em;
      padding: 1em;
      color: $c-black;
      text-decoration: none;
    }
  }

  @include media-breakpoint-up(md) {
    &__logo {
      &-img {
        height: 3rem;
      }
    }

    &__search {
      margin: 1.5em 0 1.5em;

      &-input {
        width: 16rem;
      }

      &-btn {
        padding-left: 2em;
        padding-right: 2em;
      }
    }

    &__nav {
      &-link {
        font-size: 1.125em;
        padding: 1.2em;
        margin: 0.8em;
      }
    }

    &__rules {
      &-list {
        flex-direction: row;
      }

      &-item {
        padding: 0.4em 0;
      }

      &-link {
        font-size: 1.125em;
      }
    }
  }
}

