.header {
  //background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding-bottom: 701px;
  align-items: center;
  padding-top: 10px;

  &-wrap {
    margin: 10px auto;
    display: flex;
    align-items: center;
  }

  &-nav {
    flex: 2 0 auto;
    &__list {
      list-style-type: none;
      display: flex;
    }

    &__title {
      &-link {
        color: $c-white;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        padding: 20px;
      }
    }
  }

  &-logo {
    flex: 2 0 auto;
    margin-right: 150px;
  }

  &-basket {
    flex: 1 0 auto;
    background: none;
    border: none;
    color: $c-white;
    display: flex;
    justify-content: flex-end;
    height: max-content;
    position: relative;
    margin: 20px;

    &__title {
      padding-right: 30px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
    }

    svg {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}