.c-heading {
  text-align: center;
  padding: 1rem;

  &__title {
    font-size: 1.375rem;
    margin-bottom: 0.3em;
  }

  &__sub {
    font-size: 1.375rem;
  }

  @include media-breakpoint-up(lg) {
    &__title {
      font-size: 2.175rem;
    }
  }
}