.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  height: 80px;
  font-size: 16px;

  &-nav {
    flex: 2 0 auto;

    &__list {
      list-style-type: none;
      display: flex;
    }

    &__title {
      &-link {
        color: $c-white;
        font-size: 1.2em;
        line-height: 1em;
        font-weight: 600;
        padding: 1em;
      }
    }
  }

  &-logo {
    flex: 2 0 auto;
  }

  &-basket {
    flex: 1 0 auto;
    background: none;
    border: none;
    color: $c-white;
    display: flex;
    justify-content: flex-end;
    height: max-content;
    position: relative;
    margin: 1.2em;

    &__title {
      padding-right: 1.4em;
      font-size: 1.2em;
      line-height: 1.2em;
      font-weight: 600;
    }

    svg {
      width: 1.2em;
      height: 1.1em;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}