.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  margin: 0 auto;
  height: 80px;
  font-size: 16px;

  .header__btn {
    display: none;
    border: none;
    background: none;
    color: $c-white;
    padding: 0.5rem;
    margin-top: 0.8rem;

    svg {
      width: 20px;
      height: 15px;
    }
  }

  &__nav {
    flex: 1 0 auto;

    &-list {
      list-style-type: none;
      display: flex;
    }

    &-title {
      &-link {
        color: $c-white;
        font-size: 1.2em;
        font-weight: 400;
        padding: 0.5em 1.5em;
      }
    }
  }

  &__basket {
    background: none;
    border: none;
    color: $c-white;
    display: flex;
    justify-content: flex-end;
    height: max-content;
    position: relative;
    padding-right: 1.9rem;

    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 1px solid $c-white;
      background: $c-pink-gradient;
      height: 10px;
      width: 10px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    &-title {
      font-size: 1.25rem;
      font-weight: 400;
    }

    svg {
      width: 1.2em;
      height: 1.1em;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  @include media-breakpoint-up(xs) {

    &__nav {
      display: none;
    }

    &__logo {
      &-img {
        height: 1.4rem;
      }
    }

    .header__btn {
      display: block;
    }

    &__basket {
      margin-top: 1.5rem;

      &-title {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__logo {
      //margin-right: 0;

      &-img {
        height: 2rem;
      }
    }

    &__basket {
      margin-top: 0;

      &-title {
        display: block;
      }
    }

    .header__btn {

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__nav {
      display: flex;
    }

    &__logo {
      &-img {
        height: 3rem;
      }

      &-wrap {
        flex: 2 0 auto;
      }
    }

    .header__btn {
      display: none;
    }

    .header__logo-wrap {
      //flex: 2 0 auto;
    }
  }
}


