.header {
  margin: 0 auto;
  height: 80px;
  font-size: 16px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    position: fixed;
    z-index: 21;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .header__btn {
    display: inline-block;
    border: none;
    background: none;
    color: $c-white;
    padding: 0.5rem;
    margin-top: 0.3rem;
    position: relative;
    width: 40px;
    height: 30px;
    z-index: 21;

    &.is-active .header__btn-lines {
      background-color: transparent;
    }

    &.is-active .header__btn-lines::before {
      top: 0;
      transform: rotate(45deg);
    }

    &.is-active .header__btn-lines::after {
      top: 0;
      transform: rotate(-45deg);
    }

    &-wrap {
      flex: 0 0 20%;
    }

    &-lines,
    &-lines::after,
    &-lines::before {
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: $c-white;
      left: 0;
      transition: 0.3s;
    }

    &-lines::before {
      content: '';
      top: -10px;
    }

    &-lines::after {
      content: '';
      top: 10px;
    }
  }

  &__menu {
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: $c-pink-gradient;
    left: -100%;
    align-items: center;
    transition: 0.3s;

    &.is-active {
      left: 0;
    }

    &-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
    }

    &-item {
      margin: 1rem;
    }

    &-link {
      color: $c-white;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0.5em 1em;
      white-space: nowrap;
      transition: 0.3s;
      text-decoration: none;
      text-transform: uppercase;

      &:hover, &:focus {
        color: $c-brand-focus;
      }
    }
  }

  &__nav {
    flex: 1 0 auto;
    display: none;

    &-list {
      list-style-type: none;
      display: flex;
    }

    &-link {
      color: $c-white;
      font-size: 1.2em;
      font-weight: 400;
      padding: 0.5em 1em;
      white-space: nowrap;
      transition: 0.3s;
      text-decoration: none;

      &:hover, &:focus {
        color: $c-brand-focus;
      }
    }
  }

  &__logo {
    transition: 0.3s;
    z-index: 21;

    &-img {
      height: 1.4rem;
    }

    &:hover, &:focus {
      opacity: 0.5;
    }
  }

  &__basket {
    transition: 0.3s;
    z-index: 21;

    &-wrap {
      flex: 0 0 20%;
      display: flex;
      justify-content: flex-end;
    }

    background: none;
    border: none;
    color: $c-white;
    display: flex;
    justify-content: flex-end;
    height: max-content;
    position: relative;
    padding-right: 1.9rem;
    margin-top: 1.5rem;

    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 1px solid $c-white;
      background: $c-pink-gradient;
      height: 10px;
      width: 10px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    &-title {
      font-size: 1.25rem;
      font-weight: 400;
      display: none;
    }

    svg {
      width: 1.2em;
      height: 1.1em;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &:hover, &:focus {
      color: $c-brand-focus;
    }
  }

  @include media-breakpoint-up(md) {
    &__logo {
      &-img {
        height: 2rem;
      }
    }

    &__basket {
      &-item {
        display: block;
      }
    }

    .header__btn {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__nav {
      display: flex;
      flex: 0 0 40%;
    }

    &__logo {
      &-img {
        height: 3rem;
      }
    }

    &__basket {
      margin-top: 0;

      &-title {
        display: block;
      }

      &-wrap {
        flex: 0 0 40%;
      }
    }

    &__btn {
      &-wrap {
        display: none;
      }
    }

    &__menu {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    &__nav {
      &-link {
        padding: 0.5em 1.5em;
      }
    }
  }
}


