.—Å-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  height: 80px;
  font-size: 16px;

  .c-header__btn {
    display: none;
    border: none;
    background: none;
    color: $c-white;
    padding: .5rem;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &-nav {
    flex: 1.5 0 auto;

    &__list {
      list-style-type: none;
      display: flex;
    }

    &__title {
      &-link {
        color: $c-white;
        font-size: 1.2em;
        line-height: 1em;
        font-weight: 400;
        padding: 1em;
      }
    }
  }

  &-basket {
    background: none;
    border: none;
    color: $c-white;
    display: flex;
    justify-content: flex-end;
    height: max-content;
    position: relative;
    margin: 1.2em;
    align-self: flex-end;

    &::after {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 1px solid $c-white;
      background: $c-pink-gradient;
      height: 10px;
      width: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &__title {
      padding-right: 1.4em;
      font-size: 1.2em;
      line-height: 1.2em;
      font-weight: 400;
    }

    svg {
      width: 1.2em;
      height: 1.1em;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  @include media-breakpoint-up(xs) {

    &-nav {
      display: none;
    }

    &-logo  {
      &__img {
        height: 1.4rem;
      }
    }

    .c-header__btn {
      display: block;
    }

    &-basket {
      margin-bottom: 1.5em;
      margin-right: 0;
      &__title {
        display: none;
      }
    }
  }
}

/*.c-header__logo-wrap {
  flex: 2 0 auto;
}*/

