{% if not args %}
    {% set args = {
        capabilities :
        [
            {
                icon : 'box',
                title : 'Free UK Shipping',
                text : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam dignissim elit non lacus egestas maximus.',
            },
            {
                icon : 'sale',
                title : 'Monthly discount codes',
                text : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam dignissim elit non lacus egestas maximus.',
            },
            {
                icon : 'row',
                title : 'Subscription',
                text : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aliquam dignissim elit non lacus egestas maximus.',
            },
        ],
    } %}
{% endif %}

<section class="s-advantages">
    <div class="s-advantages__wrap container">
        {% for item in args.capabilities %}
            <div class="s-advantages__content">
                <div class="s-advantages__content-img">
                    <svg class="el-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="#{{ item.icon }}"></use>
                    </svg>
                </div>
                <h2 class="s-advantages__content-title">{{ item.title }}</h2>
                <p class="s-advantages__content-text">{{ item.text }}</p>
            </div>
        {% endfor %}
    </div>
</section>