{% if not args %}
    {% set args = {
        bannerImage : 'images/hero-bg.jpg',
        bannerTitle : 'Uniquely natural supplements designed for you, delivered to you.',
    } %}
{% endif %}

<section class="banner" style="background-image: url({{ args.bannerImage }})">
    <h1 class="banner__title">{{ args.bannerTitle }}</h1>
</section>