{% if not args %}
    {% set args = {
        title : 'Follow us on instagram',
        text : 'Show us your results #Vitami',
        img :
        [
            {
                imgUrl : 'images/runner.jpg',
                imgAlt : 'runner',
            },
            {
                imgUrl : 'images/yoga.jpg',
                imgAlt : 'yoga',
            },
            {
                imgUrl : 'images/fitness.jpg',
                imgAlt : 'fitness',
            },
            {
                imgUrl : 'images/bike.jpg',
                imgAlt : 'bike',
            },
        ]

    } %}
{% endif %}
<section class="s-instagram">
    <h2 class="s-instagram__title">{{ args.title }}</h2>
    <p class="s-instagram__text">{{ args.text }}</p>
    <div class="s-instagram__img-wrap container">
        {% for item in args.img %}
            <a href="#" class="s-instagram__img-link">
                <img src="{{ item.imgUrl }}" alt="{{ item.imgAlt }}" class="s-instagram__img">
                <span class="visually-hidden">go to instagram..</span>
            </a>
        {% endfor %}
    </div>
</section>