{% if not args %}
    {% set args = {
        headingTitle : 'Too much copy supplied ',
        headingSubTitle : 'Needs to be 2 lines max',
    } %}
{% endif %}
<section class="offers">
    <div class="offers-wrap">
        <div class="offers-heading">
            <h2 class="offers-heading__title">{{ args.headingTitle }}</h2>
            <p class="offers-heading__sub-title">{{ args.headingSubTitle }}</p>
        </div>
    </div>
</section>