.s-advantages{
  background-color: $c-gray;
  padding: 3rem 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 8%;

    &-img {
      background-color: $c-white;
      color: #A738AC;
      height: 6.25rem;
      width: 6.25rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 3.37rem;
        height: 2.9rem;
      }
    }

    &-title {
      font-size: 1.25em;
      padding: 1em 0;
    }

    &-description {
      font-size: 1.25em;
      max-width: 18em;
      text-align: center;
    }
  }

  @include media-breakpoint-up(md) {

    padding-bottom: 8rem;
    padding-top: 8rem;

    &__list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
    }

    &__content {
      max-width: 31%;
      text-align: center;
      margin: 1%;
    }
  }
}