.s-article {
  display: flex;
  justify-content: center;
  padding: 3rem 0;

  &-item {
    margin: 2.375rem;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 706px;
    height: 706px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;

    &__title {
      font-size: 2.125em;
      color: $c-white;
      max-width: 9em;
      text-align: center;
      margin: 1em;

      &-link {
        color: $c-white;
        outline: none;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }
      }
    }

    &:focus-within {
      box-shadow: 0 0 0 0.2rem $c-brand;
    }

    &:focus-within a:focus {
      text-decoration: none;
    }

    &__view {
      font-size: 1.375em;
      color: $c-white;
    }
  }
}