.s-article {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  max-width: 1488px;
  margin: 0 auto;

  &-item {
    margin: 2.375rem;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;

    }

    &__wrap {
      text-align: center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__title {
      font-size: 2.125em;
      color: $c-white;
      max-width: 9em;
      text-align: center;
      margin: 1em;

      &-link {
        color: $c-white;
        outline: none;

        &::after {
          content: "";
          position: absolute;
          background-color: black;
          opacity: 0.1;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }
      }
    }

    &:focus-within {
      box-shadow: 0 0 0 0.2rem $c-brand;
    }

    &:focus-within a:focus {
      text-decoration: none;
    }

    &__view {
      font-size: 1.375em;
      color: $c-white;
    }
  }

  @include media-breakpoint-up(xs) {
    flex-direction: column;

    &-item {
      min-height: 340px;
      min-width: 279px;
      margin: 0;
      margin-bottom: 3rem;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 3rem 1.25rem;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;

    &-item {
      margin: 1em;
    }
  }
}