.s-article {
  display: block;
  padding: 3rem 1.25rem;
  max-width: 1488px;
  margin: 0 auto;
  margin-top: 5rem;
  position: relative;

  &__wrap {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    transition: 0.3s;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;

    min-height: 340px;
    min-width: 279px;
    margin: 1rem;
    z-index: 2;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &-wrap {
      text-align: center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1;


      &::after {
        content: "";
        position: absolute;
        background-color: black;
        opacity: 0.5;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 0.5rem;
      }
    }

    &-title {
      font-size: 1.25rem;
      color: $c-white;
      max-width: 9em;
      text-align: center;
      margin: 1em;
      z-index: 2;
    }

    &-link {
      color: $c-white;
      outline: none;
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        cursor: pointer;
        z-index: 2;
      }
    }

    &:focus-within, &:hover {
      box-shadow: 0 0 0 0.2rem $c-brand;
    }

    &:focus-within a:focus {
      text-decoration: none;
    }

    &-sub {
      font-size: 1rem;
      color: $c-white;
      z-index: 2;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 3rem 1.25rem;
    justify-content: center;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    flex-wrap: nowrap;

    &__item {
      margin: 1em;
      max-width: 100%;

      &-title {
        font-size: 2.125rem;
      }

      &-sub {
        font-size: 1.375rem;
      }
    }
  }
}