.banner {
  background-repeat: no-repeat;
  width: 100%;
  background-position: 50% 50%;
  min-height: 775px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -80px;
  padding: 0 20px;

  &-title {
    margin: 0;
    padding: 0;
    color: $c-white;
    max-width: 734px;
    font-size: 2.75em;
    margin-left: 5.3em;
    text-transform: uppercase;
  }
}
