.banner {
  background-repeat: no-repeat;
  width: 100%;
  background-position: 50% 50%;
  min-height: 775px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -80px;
  padding: 0 20px;

  &-title {
    margin: 0;
    padding: 0;
    color: $c-white;
    max-width: 734px;
    font-size: 2.75em;
    margin-left: 5.3em;
    text-transform: uppercase;
  }

  @include media-breakpoint-up(xs) {
    padding: 0;
    background-position: 64% 50%;
    min-height: 440px;

    &-title {
      margin: 0;
      font-size: 1.75em;
      text-align: center;
    }
  }

  @include media-breakpoint-up(md) {
    min-height: 550px;
    background-position: 50% 50%;

    &-title {
      font-size: 1.9em;
    }
  }
}
