.s-capabilities {
  background-color: $c-gray;
  padding: 8rem 1.25rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
  }

  &-img {
    background-color: $c-white;
    color: #A738AC;
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 3.37rem;
      height: 2.9rem;
    }
  }

  &-title {
    font-size: 1.25em;
    padding: 1em 0;
  }

  &-text {
    font-size: 1.25em;
    max-width: 16em;
    text-align: center;
  }

  @include media-breakpoint-up(md) {
    &__wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
    }

    &-wrap {
      max-width: 30%;
      text-align: center;
    }
  }

  @include media-breakpoint-up(xl) {

    &-wrap {
      max-width: 31%;
      text-align: center;
    }
  }
}