.info {
  background-color: $c-gray;

  &-wrap {
    padding-top: 3rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-heading {
    text-align: center;

    &__title {
      font-size: 2em;
      color: $c-black;
      line-height: .7em;
      font-weight: 700;
      padding: .5rem 1rem;
    }

    &__sub-title {
      font-size: 1.4em;
      line-height: 1em;
      padding: .5rem 1rem;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    margin: 2em 1.5em;

    &__description {
      background-color: $c-white;
      padding: 3em 4em;

      &-title {
        font-size: 1.4em;
        line-height: .8em;
        margin-bottom: .5em;
        padding-left: 1rem;
      }

      &-text {
        font-size: 1.2em;
        line-height: 1.6em;
        color: #464646;
        max-width: 24em;
        padding: 1em;
        padding-left: 1rem;
      }
    }

    &__img {
      width: 48rem;
    }
  }
}