.s-info {
  background-color: $c-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.25rem 2rem;


  &-wrap {
    padding-top: 3rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-heading {
    text-align: center;

    &__title {
      font-size: 2em;
      color: $c-black;
      font-weight: 700;
      padding: .5rem 1rem;
    }

    &__sub-title {
      font-size: 1.4em;
      padding: .5rem 1rem;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    margin: 2em 1.5em;

    &__description {
      background-color: $c-white;
      padding: 6% 4%;
      border-radius: .8em;

      &-title {
        font-size: 1.4em;
        margin-bottom: .5em;
        padding-left: 1rem;
      }

      &-text {
        font-size: 1.2em;
        line-height: 1.6;
        color: $c-text-grey;
        max-width: 27em;
        padding: 1em;
        padding-left: 1rem;
      }
    }

    &__img-wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: -1.6rem;
    }

    &__img {
      width: 100%;
      border-radius: .8rem;
      box-shadow: $c-shadow-img;
    }

    &__btn {
      width: 3rem;
      height: 0.7rem;
      background: $c-gray-btnSlidePassive;
      border-radius: .3rem;
      border: none;
      margin: .3rem;

      &.is-active {
        background: $c-color-btnSlideActive;
      }
    }
  }

  @include media-breakpoint-up(xs) {

    &-content {
      flex-direction: column;

      &__description {
        &-text {
          font-size: 1em;
        }
      }

      &__btn {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &-content {
      &__description {
        &-text {
          font-size: 1.2em;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &-content {
      &__description {
        &-text {
          font-size: 1.375em;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &-content {
      flex-direction: row;

      &__btn {
        display: inline-block;
      }
    }
  }
}

.btn--info {
  background-color: black;
}

.info-content__btn-wrap {
  margin-top: 1rem;
}
