.s-instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 1.25rem;

  &__title {
    padding: 0.25em 0;
    align-items: center;
    font-size: 1.375em;
  }

  &__text {
    font-size: 1.375em;
    padding-bottom: 2rem;
  }

  &__img {
    &-wrap {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &-link {
      margin: 1%;
      padding: 0;
    }

    width: 100%;
    border-radius: 0.4rem;
  }

  @include media-breakpoint-up(md) {
    &__title {
      font-size: 2.125em;
    }

    &__img {
      &-wrap {
        padding-top: 2rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      &-link {
        margin: 1%;
        padding: 0;
        width: 22.8%;
      }

      width: 100%;
      border-radius: .4rem;
    }
  }

  @include media-breakpoint-up(xl) {
    &__img {
      &-wrap {
        flex-direction: row;
      }
    }
  }
}