.s-instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.25rem;

  &__img {
    &-wrap {
      padding-top: 2rem;
      display: flex;
      overflow-x: auto;
      width: 100%;
      margin: 0;
      white-space: nowrap;
    }

    font-size: 0;
    border-radius: 0.4rem;
    flex-shrink: 0;
    width: 312px;
    height: 312px;
    margin: 0.7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include media-breakpoint-up(lg) {
    &__img {
      margin: 1%;
      width: 23%;
      height: 0;
      padding-bottom: 25%;

      &-wrap {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}