.s-instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  &-title {
    font-size: 2.125em;
    padding: .25em 0;
  }

  &-text {
    font-size: 1.375em;
    padding-bottom: 2rem;
  }

  &-img {
    &__wrap {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
    }

    &__link {
      margin: 1%;
      padding: 0;
    }

    width: 100%;
    border-radius: .4rem;
  }
}