.s-magazine {
  background-position: 50% 50%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1034px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1.25rem;

  &-title {
    color: $c-white;
    font-size: 2.12em;
    margin-bottom: .6em;
    text-align: center;
    text-transform: uppercase;
  }

  @include media-breakpoint-up(xs) {
    justify-content: flex-end;
    min-height: 472px;

    &__content {
      &-wrap {
        margin-bottom: 2rem;
      }
    }

    &-title {
      font-size: 1.375em;
      margin: 0;
    }
  }

  @include media-breakpoint-up(md) {
    min-height: 540px;
    justify-content: center;

    &-title {
      font-size: 1.375em;
      margin: .6em;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: 900px;

    &-title {
      font-size: 1.375em;
      margin: .6em;
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: 1034px;
  }
}