.s-offers {
  background-color: $c-white;

  &-wrap {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  &-heading {
    text-align: center;

    &__title {
      font-size: 2em;
      color: $c-black;
      line-height: .7em;
      font-weight: 700;
      padding: .5rem 1rem;
    }

    &__sub-title {
      font-size: 1.4em;
      line-height: 1em;
      padding: .5rem 1rem;
    }
  }

  &-poster {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    &__product {
      display: flex;
      justify-content: center;
      height: 25rem;
      border-radius: .8rem;
      margin-left: 2em;
      background: $c-pink-gradient;
      flex: 1 0 14%;

      &-img {
        height: 22rem;
        transform: translateY(29%);
      }
    }

    &__info {
      padding-left: 2rem;
      flex: 1 0 10%;

      &-title {
        font-size: 1.4em;
        line-height: 1.5em;
        font-weight: 700;
        margin: .5em 0;
      }

      &-cost {
        font-size: 1.4em;
        margin: .5em 0;
      }

      &-description {
        font-size: 1.4em;
        max-width: 17em;
        margin: .5em 0;
        line-height: 1.7em;
      }
    }
  }

  @include media-breakpoint-up(xs) {
    &-poster {
      flex-direction: column;

      &__product {
        flex: 0 0 0;
        width: 100%;
        margin: 0;

        &-img {
          transform: translateY(24%);
        }
      }

      &__info {
        margin-top: 6rem;
        padding: 1rem;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &-poster {
      flex-direction: row;

      &__product {
        flex: 1 0 14%;

        &-img {
          height: 22rem;
          transform: translateY(29%);
        }
      }
    }
  }
}