.s-offers {
  background-color: $c-white;

  &__wrap {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  &__heading {
    text-align: center;

    &-title {
      font-size: 2em;
      color: $c-black;
      font-weight: 700;
      padding: 0.5rem 1rem;
    }

    &-sub-title {
      font-size: 1.4em;
      padding: 0.5rem 1rem;
    }
  }

  &__poster {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;

    &-product {
      display: flex;
      justify-content: center;
      height: 25rem;
      border-radius: 0.8rem;
      background: $c-pink-gradient;
      width: 100%;
      margin: 0;

      &-img {
        height: 22rem;
        transform: translateY(24%);
      }
    }

    &-info {
      margin-top: 6rem;
      padding: 1rem 1rem 1rem 2rem;
      flex: 1 0 10%;

      &-title {
        font-size: 1.4em;
        font-weight: 700;
        margin: 0.5em 0;
      }

      &-cost {
        font-size: 1.4em;
        margin: 0.5em 0;
      }

      &-description {
        font-size: 1.4em;
        max-width: 17em;
        margin: 0.5em 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__poster {
      flex-direction: row;

      &-product {
        flex: 1 0 14%;

        &-img {
          height: 22rem;
          transform: translateY(29%);
        }
      }

      &-info {
        padding-left: 2rem;
        flex: 1 0 10%;
        margin-top: 0;

        &-title {
          font-size: 1.4em;
          font-weight: 700;
          margin: 0.5em 0;
        }

        &-cost {
          font-size: 1.4em;
          margin: 0.5em 0;
        }

        &-description {
          font-size: 1.4em;
          max-width: 17em;
          margin: 0.5em 0;
          line-height: 1.7;
        }
      }
    }

  }
}