.offers {
  margin-top: 3rem;
  margin-bottom: 3rem;

  &-heading {
    text-align: center;

    &__title {
      font-size: 2em;
      color: $c-black;
      line-height: .7em;
      font-weight: 700;
      padding: .5rem 1rem;
    }

    &__sub-title {
      font-size: 1.4em;
      line-height: 1em;
      padding: .5rem 1rem;
    }
  }

  &-poster {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    &__product {
      display: flex;
      justify-content: center;
      width: 33rem;
      height: 25rem;
      margin: 2rem;
      border-radius: .8rem;
      margin-left: 0;
      background: $c-pink-gradient;

      &-img {
        height: 22rem;
        transform: translateY(29%);
      }
    }

    &__info {
      padding-left: 1rem;

      &-title {
        font-size: 1.4em;
        line-height: 1.5em;
        font-weight: 700;
        margin: .5em 0;
      }

      &-cost {
        font-size: 1.4em;
        margin: .5em 0;
      }

      &-description {
        font-size: 1.4em;
        max-width: 17em;
        margin: .5em 0;
        line-height: 1.7em;
      }
    }
  }
}