.s-offers {
  background-color: $c-white;

  &__wrap {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  &__poster {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
  }

  &__product {
    display: flex;
    justify-content: center;
    height: 17rem;
    border-radius: 0.8rem;
    background: $c-pink-gradintTitle;
    width: 100%;
    margin: 0;
  }

  &__img {
    height: 16rem;
    transform: translateY(24%);
  }

  &__info {
    margin-top: 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0.5em 0;
    margin-bottom: 0.1rem;
  }

  &__cost {
    font-size: 1.4rem;
    margin: 0.4em 0 0.8em;

  }

  &__description {
    font-size: 1.4rem;
    max-width: 17em;
    margin: 0.5em 0 2rem;
  }

  &__btn {
    align-self: center;
  }

  @include media-breakpoint-up(lg) {

    &__wrap {
      padding-bottom: 8rem;
    }

    &__poster {
      flex-direction: row;
    }

    &__product {
      flex: 1 0 14%;
      height: 25rem;
    }

    &__img {
      height: 22rem;
      transform: translateY(29%);
    }

    &__info {
      padding-left: 2rem;
      flex: 1 0 10%;
      margin-top: 0;
      display: block;
    }

    &__description {
      font-size: 1.4rem;
      max-width: 17em;
      margin: 0.5em 0 2rem;
      line-height: 1.7;
    }

  }
}