.s-product {
  background-color: $c-gray;
  padding: 0 1.25rem 2rem;
  text-align: center;

  &__carousel {
    max-width: 1480px;
    margin: 0 auto;
    margin-top: 1.5rem;
    display: flex;
    overflow-x: auto;
  }

  &__wrap {
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &__slide {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0.5rem;
    text-align: start;
    min-width: 90%;
    &-img {
      border-radius: 0.2rem;
      box-shadow: $c-shadow-img;
      object-fit: cover;
      min-width: 258px;
      min-height: 258px;

      &-wrap {
        height: 0;
        padding-bottom: 100%;
      }
    }
  }

  &__btn {
    display: none;

    &-wrap {
      margin-right: 1rem;
      display: none;
      position: absolute;
      right: 3rem;

      .slick-dots {
        display: flex;

        li {
          list-style-type: none;
          font-size: 0;

          button {
            width: 3rem;
            height: 0.7rem;
            background: $c-gray-btnSlidePassive;
            border-radius: 0.3rem;
            border: none;
            margin: 0.3rem;
          }
        }
      }

      .slick-dots .slick-active button {
        background: $c-color-btnSlideActive;
      }
    }
  }

  @include media-breakpoint-up(lg) {

    &__carousel {
      display: block;
    }

    &__slide {
      flex-direction: row;
      min-width: 0;

      &-img {
        width: 55%;
        height: 100%;
        padding-bottom: 0;
        border-radius: 0.8rem;
      }
    }

    &__btn {
      &-wrap {
        display: inline-block;
      }
    }
  }

  /*@include media-breakpoint-up(xl) {
    &__slide {
      flex-direction: row;

      &-img {
        &-wrap {
          width: 55%;
          height: 100%;
          padding-bottom: 0;
        }
      }
    }

    &__btn {
      &-wrap {
        display: inline-block;
      }
    }
  }*/
}