.s-product {
  background-color: $c-gray;
  padding: 0 1.25rem 2rem;
  text-align: center;

  &__wrap {
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &__heading {
    text-align: center;

    &-title {
      font-size: 2em;
      color: $c-black;
      font-weight: 700;
      padding: 0.5rem 1rem;
    }

    &-sub {
      font-size: 1.4em;
      padding: 0.5rem 1rem;
    }
  }

  &__slide {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    margin: 2em 1.5em;
    text-align: start;

    &-description {
      background-color: $c-white;
      padding: 4% 4%;
      border-radius: 0.8em;
      flex: 1 0 45%;
    }

    &-title {
      font-size: 1.4em;
      margin-bottom: .5em;
      padding-left: 1rem;
    }

    &-text {
      font-size: 1.2em;
      line-height: 1.6;
      color: $c-text-grey;
      max-width: 27em;
      padding: 1em;
      padding-left: 1rem;
    }

    &-img {
      border-radius: 0.8rem;
      box-shadow: $c-shadow-img;
      width: 77%;
    }
  }

  .slick-dots {
    display: flex;
  }

  .slick-dots li {
    list-style-type: none;
    font-size: 0;
  }

  .slick-dots li button {
    width: 3rem;
    height: 0.7rem;
    background: $c-gray-btnSlidePassive;
    border-radius: 0.3rem;
    border: none;
    margin: 0.3rem;
  }

  .slick-dots .slick-active button {
    background: $c-color-btnSlideActive;
  }

  &__btn {
    display: none;
    &-wrap {
      margin-right: 1rem;
      display: none;
      position: absolute;
      right: 3rem;
    }
  }

  @include media-breakpoint-up(xl) {
    &__slide {
      flex-direction: row;

      &-img {
        width: 55%;
      }
    }

    &__btn {
      &-wrap {
        display: inline-block;
      }
    }
  }
}