.s-product {
  background-color: $c-gray;
  padding: 0 1.25rem 2rem;
  text-align: center;

  &__wrap {
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  &__slide {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    margin: 2em 1.5em;
    text-align: start;

    &-img {
      border-radius: 0.8rem;
      box-shadow: $c-shadow-img;
      width: 77%;
    }
  }

  &__btn {
    display: none;

    &-wrap {
      margin-right: 1rem;
      display: none;
      position: absolute;
      right: 3rem;

      .slick-dots {
        display: flex;

        li {
          list-style-type: none;
          font-size: 0;

          button {
            width: 3rem;
            height: 0.7rem;
            background: $c-gray-btnSlidePassive;
            border-radius: 0.3rem;
            border: none;
            margin: 0.3rem;
          }
        }
      }

      .slick-dots .slick-active button {
        background: $c-color-btnSlideActive;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &__slide {
      flex-direction: row;

      &-img {
        width: 55%;
      }
    }

    &__btn {
      &-wrap {
        display: inline-block;
      }
    }
  }
}