.questions {
  background: $c-gray;
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: 1800px;

  &__container {
    @extend .container;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 2.125rem;
    align-self: center;
    margin-bottom: 1.5rem;

    &-sub {
      font-size: 1.5rem;
      margin-top: 1.5rem;
      margin-left: 2rem;
    }
  }

  &__accordion {
    &-wrap {
      border-radius: 5px;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }

    &-section {
      border: none;
      background: none;
      transition: 0.3s;
      margin: 0.5rem 0;
      background: $c-white;

      &.is-active {
        .questions__accordion-body {
          visibility: visible;
          opacity: 1;
          height: 100%;
        }

        .questions__accordion-icon {
          transform: rotate(180deg);
        }
      }
    }

    &-header {
      padding: 1.4rem 2rem 1.4rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-icon {
      color: $c-white;
      transition: 0.3s;
      margin-top: 1rem;
    }

    &-btn {
      border: none;
      background: none;
      font-size: inherit;
      font-weight: inherit;
      width: 100%;
      height: 100%;
    }

    &-title {
      font-size: 1.375rem;
      font-weight: 600;
    }

    &-body {
      height: 0;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s linear;
      font-size: 1.25rem;
      line-height: 1.5;
    }

    &-content {
      margin: 0 0.5rem 1.5rem 2rem;
      max-width: 1060px;
    }
  }

  @include media-breakpoint-up(md) {
    min-height: 1347px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 1200px;
  }
}