.s-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 1.25rem;

  &-title {
    font-size: 2em;
    padding: 0 .5em 1em;
    text-align: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      font-size: 1.4em;
      padding-bottom: .6em;
    }

    &__assessment {
      font-size: 1.4em;
      padding-bottom: .6em;

      &-star {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__text {
      font-size: 1.75em;
      line-height: 34px;
      max-width: 25em;
      text-align: center;
      font-style: italic;
    }
  }

  &-btn {
    border: none;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: $c-btnReviewsSlider;
    margin: 0.5rem;

    &.is-active {
      background: $c-btnReviewsSlider-active;
    }

    &__wrap {
      display: flex;
      margin-top: 2rem;
    }
  }

  @include media-breakpoint-up(xs) {
    &-title {
      padding: .6em 0;
    }
  }
}