.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-title {
    font-size: 2em;
    padding: 2em .5em 1em;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      font-size: 1.4em;
      padding-bottom: .6em;
    }

    &__assessment {
      font-size: 1.4em;
      padding-bottom: .6em;

      &-star {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__text {
      font-size: 1.75em;
      line-height: 34px;
      max-width: 25em;
      text-align: center;
      font-style: italic;
    }
  }
}