// Fonts
@import "base/fonts.scss";

// Variables
@import "__variables";

@import "sprites/png-sprite";
@import "sprites/svg-sprite";
@import "sprites/svg-sprite-inline";

// Mixins
@import "__mixins";

// Libraries
@import "libraries/slick";

// Base
@import "base/reset";
@import "base/layout";
@import "templates/template";

// Elements
@import "elements/element";
@import "elements/btn";
@import "elements/wysiwyg";

// Components
@import "components/component";
@import "components/header";
@import "components/footer";
@import "components/heading";
@import "components/menu";

// Sections
@import "sections/section";
@import "sections/banner";
@import "sections/offers";
@import "sections/product";
@import "sections/reviews";
@import "sections/advantages";
@import "sections/magazine";
@import "sections/article";
@import "sections/instagram";
@import "__utilities";
