.e-btn  {
  background: $c-pink-gradient;
  font-size: 1rem;
  color: $c-white;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1.5em;
  padding: 1em 3em;
  border: none;
  max-width: 361px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: inline-block;
  transition: 0.3s;

  &:hover,&:active {
    font-size: 1.2rem;
  }
}