.btn  {
  background: linear-gradient(167.93deg, #D369D6 7.15%, #EB0A3C 94.53%);
  font-size: 1em;
  margin-top: 1em;
  color: $c-white;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 1.5em;
  padding: 1em 6em;
  border: none;
 }