.el-social {
  display: flex;
  margin-top: 1rem;

  &__item {
    list-style-type: none;

    svg {
      height: 25px;
      width: 25px;
      color: $c-white;

      transition: 0.3s;
    }

    &:hover, &:focus {
      svg {
        color: $c-brand-focus;
      }
    }
  }

  &__link {
    padding: 0.5rem;
  }
}
