.el-wysiwg  {
  font-size: 1rem;
  background-color: $c-white;
  padding: 4% 4%;
  padding-right: 3%;
  border-radius: 0.8em;
  flex: 1 0 45%;
  width: 95%;

  img {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 6px;
    height: auto;
  }

  h3 {
    font-size: 1.4em;
    margin-bottom: .5em;
    padding-left: 1rem;
  }

  p {
    font-size: 1.375rem;
    line-height: 1.25;
    color: $c-text-grey;
    padding: 1em;
    padding-right: 1%;
    padding-left: 1rem;
  }

  ul {
    padding: 1em;
    padding-left: 1rem;
  }

  li {
    list-style-type: none;
    font-size: 1.2em;
    line-height: 1.6;
    color: $c-text-grey;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 4%;

    p {
      line-height: 1.4;
      max-width: 27em;
    }
  }
}