.el-wysiwyg {
  font-size: inherit;

  img {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 6px;
    height: auto;
  }

  h3 {
    font-size: inherit;
  }

  p {
    line-height: 1.25;
    color: $c-text-grey;
  }

  ul {
    font-size: 1.375rem;
    line-height: 1.25;
  }

  li {
    list-style-position: inside;
    font-size: 1.2em;
    line-height: 1.6;
    color: $c-text-grey;
  }

  blockquote {
    font-size: inherit;
    text-align: center;
    font-style: italic;
  }

  @include media-breakpoint-up(lg) {

    p {
      line-height: 1.4;
    }
  }
}