{% if not args %}
    {% set args = {
        nav : [
            {
                title : 'Skin glow',
            },
            {
                title : 'FAQs',
            },
            {
                title : 'Blog',
            },
            {
                title : 'Contact',
            },
        ],
        headerLogoAlt : 'Vitami',
        basketTitle : 'Basket',
        headerLogo : 'images/svg_sprite_inline/vitami.svg',
        bannerBackgroundImage : 'images/hero-bg.jpg',
    } %}
{% endif %}
<header class="с-header">
    <button class="c-header__btn">
        <svg class="el-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#burger"></use>
        </svg>
        <span class="visually-hidden">burger</span>
    </button>
    <nav class="с-header-nav">
        <ul class="с-header-nav__list">
            {% for item in args.nav %}
                <li class="с-header-nav__title">
                    <a href="#" class="с-header-nav__title-link">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="c-header__logo-wrap">
        <a href="#" class="с-header-logo"><img class="с-header-logo__img" src="{{ args.headerLogo }}" alt="{{ args.headerLogoAlt }}"></a>
    </div>
    <button class="с-header-basket">
        <p class="с-header-basket__title">{{ args.basketTitle }}</p>
        <svg class="el-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#basket"></use>
        </svg>
    </button>
</header>
