{% if not args %}
    {% set args = {
        nav : [
            {
                title : 'Skin glow',
            },
            {
                title : 'FAQs',
            },
            {
                title : 'Blog',
            },
            {
                title : 'Contact',
            },
        ],
        basketTitle : 'Basket',
        headerBackgroundImg : 'images/svg_sprite_inline/vitami.svg',
    } %}
{% endif %}
<header class="header" style="background-image: url(images/hero-bg.jpg)">
    <nav class="header-nav">
        <ul class="header-nav__list">
            {% for item in args.nav %}
                <li class="header-nav__title"><a href="#" class="header-nav__title-link">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <img src="{{ args.headerBackgroundImg }}" alt="" class="header-logo">
    <button class="header-basket">
        <p class="header-basket__title">{{ args.basketTitle }}</p>
        <svg class="el-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#basket"></use>
        </svg>
    </button>
</header>