// Colors
$c-white: #FFFFFF;
$c-black: #000000;
$c-gray: #B8B8B8;

$c-brand: #E51E25;
$c-brand-light: #FF6D72;
$c-brand-focus: #D1282E;

$c-accent: #FAAD1C;
$c-accent-light: #FFC85F;
$c-accent-focus: #E6AF00;
$c-accent-border: #fac863;

$c-text: #212B36;
$c-text-accent: #637381;
$c-text-light: #787993;

$c-background: #F6F6F6;
$c-background-dark: #47433b;

$c-shadow: #25265E;
$c-border: #D8D8D8;
$c-border-accent: #E3E3E3;
$c-line: #DFDFDF;
$c-quote: #F5F6F6;
$c-tile : #4DADC7;
