.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-VitamiOrange {
  width: 218px;
  height: 67px;
}
.icon-basket {
  width: 26px;
  height: 24px;
}
.icon-box {
  width: 56px;
  height: 49px;
}
.icon-burger {
  width: 22px;
  height: 12px;
}
.icon-facebook {
  width: 13px;
  height: 24px;
}
.icon-instagram {
  width: 24px;
  height: 24px;
}
.icon-logo {
  width: 235px;
  height: 71px;
}
.icon-logo2 {
  width: 235px;
  height: 73px;
}
.icon-row {
  width: 52px;
  height: 58px;
}
.icon-sale {
  width: 59px;
  height: 59px;
}
.icon-star {
  width: 22px;
  height: 20px;
}
.icon-twitter {
  width: 24px;
  height: 21px;
}
.icon-vitami {
  width: 127px;
  height: 38px;
}
