$icons: (
    sprite: (width: 338px, height: 258px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    checkbox-second: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: 0px),
    checkbox-white: (width: 24px, height: 24px, backgroundX: -24px, backgroundY: -24px),
    quote: (width: 100px, height: 70px, backgroundX: -48px, backgroundY: -48px),
    quote-md: (width: 80px, height: 55px, backgroundX: -148px, backgroundY: -118px),
    quote-sm: (width: 50px, height: 35px, backgroundX: -228px, backgroundY: -173px),
    request-envelope: (width: 32px, height: 26px, backgroundX: -278px, backgroundY: -208px),
    warning: (width: 28px, height: 24px, backgroundX: -310px, backgroundY: -234px),
);