.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-left {
  width: 71.351px;
  height: 95px;
}
.icon-arrow-right {
  width: 71.351px;
  height: 95px;
}
.icon-ic-arrow {
  width: 32px;
  height: 32px;
}
.icon-ic-close {
  width: 32px;
  height: 32.96px;
}
.icon-ic-doc {
  width: 32px;
  height: 32px;
}
.icon-ic-download {
  width: 24px;
  height: 24px;
}
.icon-ic-external {
  width: 24px;
  height: 24px;
}
.icon-ic-facebook {
  width: 9.375px;
  height: 18.75px;
}
.icon-ic-link {
  width: 32px;
  height: 32px;
}
.icon-ic-linkedin {
  width: 18.75px;
  height: 18.751px;
}
.icon-ic-open {
  width: 24px;
  height: 12.24px;
}
.icon-ic-open-old {
  width: 24px;
  height: 24.48px;
}
.icon-ic-toggle {
  width: 10px;
  height: 6px;
}
.icon-ic-twitter {
  width: 18.75px;
  height: 15px;
}
