@font-face {
  font-weight: bold;
  font-family: "Nunito";
  font-style: normal;
  src: url("../../fonts/HelveticaNeueLTStd-Hv.otf");
}

@font-face {
  font-weight: normal;
  font-family:"Helvetica";
  font-style: normal;
  src: url("../../fonts/HelveticaNeueLTStd-Lt.otf");
}

@font-face {
  font-weight: 200;
  font-family:"Helvetica";
  font-style: normal;
  src: url("../../fonts/HelveticaNeueLTStd-UltLtCn.otf");
}

