/*@font-face {
  font-weight: 600;
  font-family: "Helvetica";
  font-style: normal;
  src: url("../../fonts/HelveticaNeueLTProHvEx.otf");
}*/

@font-face {
  font-weight: 700;
  font-family: "Helvetica";
  font-style: normal;
  src: url("../../fonts/HelveticaNeueLTProBd.otf");
}

@font-face {
  font-weight: normal;
  font-family:"Helvetica";
  font-style: normal;
  src: url("../../fonts/HelveticaNeueLTStd-Lt.otf");
}

@font-face {
  font-weight: 200;
  font-family:"Helvetica";
  font-style: normal;
  src: url("../../fonts/HelveticaNeueLTStd-UltLtCn.otf");
}

