*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: 4px solid rgba(0,125,250,0.6);
}

html ,body {
  font-family: $font-base;
  font-size: 100% !important;
}

body.is-active {
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

svg {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
