* {
  box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: 4px solid rgba(0,125,250,0.6);
}

*::before , *::after {
  box-sizing: border-box;
}

html ,body {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

svg {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  color: $c-black;
}
